@using Web.Models
@model CreateProduct

@section Context{
    <div class="box-content">
        <div style="clear: both; height: 10px"></div>
        <div class="box">
            @if (Model != null)
            {
                <div class="box-content">
                    @using (Html.BeginForm()){
                        <fieldset>
                            <div class="items">
                                <div id="product-name">
                                    <p>@Html.ActionLink(Model.Name, "Index", "Edit", new {id = Model.Id}, null)</p>
                                </div>
                                <div style="clear: both; height: 20px"></div>
                                <ul>
                                    <div id="product-image">
                                        @if (Model.Image != null)
                                        {
                                            @Html.Raw("<img style='width:200px; height:200px;' src=\"data:image/jpeg;base64,"
                                                           + Convert.ToBase64String(Model.Image) + "\" />")
                                        }
                                        else
                                        {
                                            @Html.Label("Фото отсутствует")
                                        }
                                    </div>
                                    <div id="product-name">
                                        @Model.Cost
                                    </div>
                                    <div id="product-available">
                                        @if (Model.IsAvailable)
                                        {
                                            <a>В наличии</a>
                                        }
                                        else
                                        {
                                            <b>Нет на складе</b>
                                        }
                                    </div>
                                    <div style="height: 10px"></div>
                                    <div>
                                        <p>Описание:</p>
                                        @Model.Description
                                    </div>
                                    @if (Model != null && Model.IsMine == true)
                                    {
                                        <div style="font-size:inherit; color:red; font-style: oblique;">
                                            Товар пренадлежит мне!!!
                                        </div>
                                    }
                                </ul>
                                <div>
                                    <p>Количество:</p>
                                    <p>@Html.TextBoxFor(x=>x.Count)</p>
                                </div>
                            </div>
                        </fieldset>
                        <span><input type="submit" value="Купить" name="save" style="color: green;"/></span>
                    }
                    <br/>
                    
                </div>
            }
        </div>
    </div>
    <div style="clear: both; height: 10px"></div>
}
@section LoginOrRegister{
    <div id="navigation">
        <ul><li>@Html.ActionLink("Выйти", "LogOut", "Account")</li></ul>
    </div>
}
@section EditOrBuy
{
    @Html.ActionLink("Редактировать", "EditMenu", "Edit")
}