@using Web.Models
@model CreateProduct

@section LoginOrRegister{
@Html.ActionLink("Выйти", "LogOut", "Account"))
}

@section EditOrBuy
{
    @if (Model.Id != -1)
    {
        @Html.ActionLink("Редактировать", "EditMenu", "Edit")
    }
}

@section Context{
    <div>
        <h1>Поздравляем!</h1>
        <br/>
        <h2>Вы совершили покупку на нашем сайте!</h2>
        <br/>
        <h3>
            <span>Вы купили:</span>
            <span>@Model.Name</span>
            <br/>
            <span>
                В количестве: @ViewBag.PurchaseCount шт.
            </span>
            <span>За общую стоимость: @(Model.Cost * ViewBag.PurchaseCount)</span>
        </h3>
        <br/>
        <br/>
        <h2>Спасибо! Мы будем рады видеть Вас снова!</h2>
    </div>
}
