@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "LogIn";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Context{
    <div class="box-content">
        @using (Html.BeginForm())
        {
            <p>@Html.ValidationSummary(true)</p>
            <table>
                <tr>
                    <td>Логин:</td>
                    <td>@Html.TextBoxFor(x => x.UserName)
                        @Html.ValidationMessageFor(x => x.UserName)</td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td>@Html.EditorFor(x => x.Password)
                        @Html.ValidationMessageFor(x => x.Password)</td>
                </tr>
            </table>
            <br/>
            <input type="submit" value="Войти"/>
        }
    
        @*<p>
            Для совершения покупок / продаж Вам необходимо сначала @Html.ActionLink("зарегистрироваться", "Register")
        </p>*@

    </div>
}

@section LoginOrRegister{
    <div id="navigation">
        <ul><li>@Html.ActionLink("Зарегистрироваться", "Register")</li></ul>
    </div>
}
@section EditOrBuy
{
    
}
