@model Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Регистрация на сайте";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<fieldset>
    <h2 style="text-align: center; padding: 5px 0 5px 0">Регистрация на сайте</h2>
</fieldset>
<br/>
@section Context
{
    <div id="reg">
        @using (Html.BeginForm())
        {
            <fieldset>
            <div class="edit">
                <p>
                    @Html.ValidationSummary(true)
                </p>
            
                <table id="table">
                    <tr>
                        <td>Логин:</td>
                        <td>@Html.TextBoxFor(x => x.UserName)</td>
                        <td id="reg_tabl_col3">@Html.ValidationMessageFor(x => x.UserName)</td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td>@Html.EditorFor(x => x.Password)</td>
                        <td>@Html.ValidationMessageFor(x => x.Password)</td>
                    </tr>
                    <tr>
                        <td>Пароль еще раз:</td>
                        <td>@Html.EditorFor(x => x.ConfirmPassword)</td>
                        <td>@Html.ValidationMessageFor(x => x.ConfirmPassword)</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Html.TextBoxFor(x => x.Email)</td>
                        <td>@Html.ValidationMessageFor(x => x.Email)</td>
                    </tr>
                    <tr>
                        <td>Email еще раз:</td>
                        <td>@Html.TextBoxFor(x => x.ConfirmEmail)</td>
                        <td>@Html.ValidationMessageFor(x => x.ConfirmEmail)</td>
                    </tr>
                    <tr>
                        <td>Имя:</td>
                        <td>@Html.TextBoxFor(x => x.FirstName)</td>
                        <td>@Html.ValidationMessageFor(x => x.FirstName)</td>
                    </tr>
                    <tr>
                        <td>Фамилия:</td>
                        <td>@Html.TextBoxFor(x => x.LastName)</td>
                        <td>@Html.ValidationMessageFor(x => x.LastName)</td>
                    </tr>
                </table>
            
                <br/>
                <div class="search-button">
                    <p><input type="submit" value="Завершить регистрацию"/></p>
                </div>
            </div>
            </fieldset>
        }
    </div>
}

@section LoginOrRegister{
    
}
@section EditOrBuy
{
    
}