@model Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Регистрация на сайте";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h1>Регистрация на сайте</h1>
<br/>
@section Context
{
    @*<script type="text/javascript">
        function A(x) {
            var table, row, cell1, cell2;

            table = document.getElementById("table");

            if (x == 'Продавец') {
                if (table.rows.length == 8)
                    table.deleteRow(table.rows.length - 1);
                row = table.insertRow();
                cell1 = row.insertCell(0);
                cell2 = row.insertCell(1);
                cell1.innerHTML = "Введите ИИН:";
                cell2.innerHTML = "<input name='iin' type='text'/>";
            } else if (x == 'Администратор') {
                if (table.rows.length == 8)
                    table.deleteRow(table.rows.length - 1);
                row = table.insertRow();
                cell1 = row.insertCell(0);
                cell2 = row.insertCell(1);
                cell1.innerHTML = "Введите код доступа:";
                cell2.innerHTML = "<input name='iin' type='text'/>";
            } else {
                if (table.rows.length == 8)
                    table.deleteRow(table.rows.length - 1);
            }
        }
    </script>*@

    <div id="reg">
        @using (Html.BeginForm())
        {
            <div id="reg">
                @*<p>Зарегистрироваться как: 
                    <br/>
                    <input type="radio" name="group1" id="buyer" value="Покупатель"  checked="checked" onclick=" A('Покупатель') "> Покупатель
                    <br/>
                    <input type="radio" name="group1" id="seller" value="Продавец" onclick=" A('Продавец') "> Продавец
                    <br/>
                    <input type="radio" name="group1" id="admin" value="Администратор" onclick=" A('Администратор') "> Администратор
                </p>
                <br/>*@
                <p>
                    @Html.ValidationSummary(true)
                </p>
            
                <table id="table">
                    <tr>
                        <td>Логин:</td>
                        <td>@Html.TextBoxFor(x => x.UserName)</td>
                        <td>@Html.ValidationMessageFor(x => x.UserName)</td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td>@Html.EditorFor(x => x.Password)</td>
                        <td>@Html.ValidationMessageFor(x => x.Password)</td>
                    </tr>
                    <tr>
                        <td>Пароль еще раз:</td>
                        <td>@Html.EditorFor(x => x.ConfirmPassword)</td>
                        <td>@Html.ValidationMessageFor(x => x.ConfirmPassword)</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Html.TextBoxFor(x => x.Email)</td>
                        <td>@Html.ValidationMessageFor(x => x.Email)</td>
                    </tr>
                    <tr>
                        <td>Email еще раз:</td>
                        <td>@Html.TextBoxFor(x => x.ConfirmEmail)</td>
                        <td>@Html.ValidationMessageFor(x => x.ConfirmEmail)</td>
                    </tr>
                    <tr>
                        <td>Имя:</td>
                        <td>@Html.TextBoxFor(x => x.FirstName)</td>
                        <td>@Html.ValidationMessageFor(x => x.FirstName)</td>
                    </tr>
                    <tr>
                        <td>Фамилия:</td>
                        <td>@Html.TextBoxFor(x => x.LastName)</td>
                        <td>@Html.ValidationMessageFor(x => x.LastName)</td>
                    </tr>
                </table>
            
                <br/>
                <input type="submit" value="Завершить регистрацию"/>
            </div>
        }
    </div>
}

@section LoginOrRegister{
    <div id="navigation">
        <ul><li>@Html.ActionLink("Войти", "LogIn")</li></ul>
    </div>
}
@section EditOrBuy
{
    
}