@{
    ViewBag.Title = ViewBag.Message;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Context{
    <div class="box-content">
        <div class="links-content">
            <fieldset>
            <br/>
            <h2>@ViewBag.Title</h2>
            <br/>
        
            @if (ViewBag.Message == "Товар добавлен!")
            {
                <p>Поздравляем! Вы добавили в магазин свой товар!</p>
            }
            else if (ViewBag.Message == "Готово!")
            {
                <p>Операция прошла успешно!</p>
            }
            else
            {
                <p>Сожалеем, но при добавлении товара произошел сбой. Попробуйте еще раз.</p>
            }
            <br/>
            <p>Для добавления товара перейдите на страницу <q>@Html.ActionLink("Создать", "Index", "Create")</q>.</p>
            <br/>
            <p>Для добавления товара перейдите на страницу <q>@Html.ActionLink("Найти", "Index", "Find")</q>.</p>
            <br/>
            <p>Для добавления товара перейдите на страницу <q>@Html.ActionLink("Журнал", "Index", "Log")</q>.</p>
            </fieldset>
        </div>
    </div>
}

@section LoginOrRegister{
    <div id="navigation">
        <ul><li>@Html.ActionLink("Выйти", "LogOut", "Account")</li></ul>
    </div>
}
@section EditOrBuy
{
    @Html.ActionLink("Редактировать", "EditMenu", "Edit")
}
