@using Web.Models
@model CartViewModel
@{
    ViewBag.Title = "Корзина";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var ajax = new AjaxOptions
        {
            UpdateTargetId = "cartList",
            Url = Url.Action("ProductsList"),
            LoadingElementId = "loadingElement"
        };
}

@section Context{
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <div class="box-content">
        <div style="clear: both; height: 10px"></div>
        <div class="box">
            @if (Model != null)
            {
                <div class="box-content">
                    @using (Ajax.BeginForm(ajax))
                    {
                        <div id = "cartList">
                            @Html.Action("ProductsList", new {model = Model})
                        </div>
                        <br />
                        <div id="loadingElement" style="display: none; color: red;">ОБНОВЛЕНИЕ...</div>
                    }
                    @using (Html.BeginForm())
                    {
                        if (ViewBag.CartIsEmpty != null && ViewBag.CartIsEmpty)
                        {
                            <div style="color: red;">
                                <strong>Корзина пуста!</strong>
                            </div>
                        }
                        else
                        {
                            <div class="search-button">
                                <input type="submit"  value="Очистить корзину" name="delete_all" />
                            </div>
                            <br/>
                            <fieldset style="border-radius: 10px;">
                                <table class="my-simple-table" style="margin: auto;">
                                    <tr>
                                        <th>Сумма к оплате:</th>
                                        <td>@(Model.Cart.ComputeTotalValue().ToString("### ###,## грн'.'"))</td>
                                    </tr>
                                </table>
                            </fieldset>

                            <br/>
                            <div class="search-button">
                                <input type="submit"  value="Купить" name="byu" />
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <span>Корзина пуста!</span>
            }

 </div>
    </div>
    <div style="clear: both; height: 10px"></div>
}
@section LoginOrRegister{
    <div id="navigation">
        <ul><li>@Html.ActionLink("Выйти", "LogOut", "Account")</li></ul>
    </div>
}
@section EditOrBuy
{
    @Html.ActionLink("Редактировать", "EditMenu", "Edit")
}