@using Domain.Entities
@using Domain.Entities.Interfaces
@model Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>Get Customer By Id # @ViewBag.CustomerId :</p>
<p>
    
</p>
*@


@section LoginOrRegister{
@(Model.CustomerId == -1 
? Html.ActionLink("Войти", "LogIn", "Account")
: Html.ActionLink("Выйти", "LogOut", "Account"))
}

@section EditOrBuy
{
    @if (Model.CustomerId != -1)
    {
        @Html.ActionLink("Редактировать", "EditMenu", "Edit")
    }
}

@section Context{
    @* Main *@
	<div id="main">
		<div class="cl">&nbsp;</div>
		
		@* Content *@
		<div id="content">
			
			@* Content Slider *@
			<div id="slider" class="box">
				<div id="slider-holder">
				    <ul>
				        @if (Model != null && Model.PopularProducts != null)
			        {
                        for (int i = 0; i < ((Model.PopularProducts.Count > 5) ? 5 : Model.Products.Count); ++i)
			             {
			                 <li>
			                     <p>@Html.Raw("<img style='width:200px; height:200px;' src=\"data:image/jpeg;base64,"
			                                  + Convert.ToBase64String(Model.PopularProducts[i].Image) + "\" />")</p>
			                     <div>
			                         <p>@Html.ActionLink(Model.PopularProducts[i].Name.Substring(0,
                                                                                             (Model.PopularProducts[i].Name.Length - 1 < 20)
                                                                                                 ? Model.PopularProducts[i].Name.Length - 1 : 20),
                                                            "Index", "Purchase", new { id = Model.PopularProducts[i].Id }, null)
			                         </p>
			                     </div>
			                     
			                 </li>
			             }
			        }

				        
				    </ul>
				</div>
				<div id="slider-nav">
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
				</div>
			</div>
			@* End Content Slider *@
			
			@* Products *@
			<div class="products">
				<div class="cl">&nbsp;</div>
			    <ul>
			        @if (Model != null && Model.Products != null)
			        {
                        for (int i = 0; i < ((Model.Products.Count > 3) ? 3 : Model.Products.Count); ++i)
			             {
			                 <li>
			                     <p>@Html.Raw("<img style='width:190px; height:190px;' src=\"data:image/jpeg;base64,"
                                      + Convert.ToBase64String(Model.Products[i].Image) + "\" />")</p>
			                     <div class="product-info">
			                         <h3>НОВИНКА !!!</h3>
			                         <div class="product-desc">
			                             @*<p>@Html.ActionLink(Model.Products[i].Name.Substring(0,(Model.Products[i].Name.Length - 1 < 20)? (Model.Products[i].Name.Length - 1) : 20),"Index","Purchase", new { id = Model.Products[i].Id })
			                             </p>*@
                                         <p>@Html.ActionLink(Model.Products[i].Name, "Index", "Purchase", new { id = Model.Products[i].Id }, null);
			                             </p>
			                             <h4>@Model.Products[i].Description.Substring(0,
                                (Model.Products[i].Description.Length - 1 < 18)
                                ? Model.Products[i].Description.Length - 1 : 18)</h4>
			                             <strong class="price">$@Model.Products[i].Cost</strong>
			                         </div>
			                     </div>
			                 </li>
			             }
			        }
			    </ul>
				<div class="cl">&nbsp;</div>
			</div>
			@* End Products *@
			
		</div>
		@* End Content *@
		
		@* Sidebar *@
		<div id="sidebar">
			
			@* Search *@
			<div class="box search">
				<h2>Search by <span></span></h2>
			    <div class="box-content">
			        @using (Html.BeginForm())
           {
			            <label>Ключевое слово</label>
			            <p>@Html.TextBox("keyword")</p>
				        
			            <input type="submit" class="search-submit" value="Search" />

			            @*<p>
			                <a href="#" class="bul">Advanced search</a><br />
			                <a href="#" class="bul">Contact Customer Support</a>
			            </p>*@
           }
			    </div>
                @if (Model != null && ViewBag != null && ViewBag is Product)
                {
                    <p>Результат поиска:</p>
                    foreach (Product product in ViewBag)
                    {
                        <div>@Html.Label(product.Name + " " + product.Cost)</div>
                    }
                }
			</div>
			@* End Search *@
			
		</div>
		@* End Sidebar *@
		
		<div class="cl">&nbsp;</div>
	</div>
	@* End Main *@
	
    @* Side Full *@
	<div class="side-full">
		
		@* More Products *@
		<div class="more-products">
			<div class="more-products-holder">
			    <ul>
			        @if (Model != null && Model.Products != null)
			        {
			            foreach (IProduct product in Model.Products)
			            {
			                <li>
			                    <p>@Html.Raw("<img style='width:70px; height:70px;' src=\"data:image/jpeg;base64,"
			                                 + Convert.ToBase64String(product.Image) + "\" />")</p>
			                    <div>
			                        <p>@Html.ActionLink(product.Name.Substring(0,
			                                                                   (product.Name.Length - 1 < 20)
			                                                                       ? product.Name.Length - 1 : 20),
                                                          "Index", "Purchase", new { id = product.Id }, null)
			                        </p>
			                    </div>
			                     
			                </li>
			            }
			        }
				    
			        
			    </ul>
			</div>
			<div class="more-nav">
				<a href="#" class="prev">previous</a>
				<a href="#" class="next">next</a>
			</div>
		</div>
		@* End More Products *@
		
		@* Text Cols *@
		<div class="cols">
			<div class="cl">&nbsp;</div>
			<div class="col">
				<h3 class="ico ico1">Donec imperdiet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
				<p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
			</div>
			<div class="col">
				<h3 class="ico ico2">Donec imperdiet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
				<p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
			</div>
			<div class="col">
				<h3 class="ico ico3">Donec imperdiet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
				<p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
			</div>
			<div class="col col-last">
				<h3 class="ico ico4">Donec imperdiet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
				<p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		@* End Text Cols *@
		
	</div>
	@* End Side Full *@
}