@{
    if (((string)ViewBag.Message).Contains("Готово"))
    {
        ViewBag.Title = "Выполнено!";
    }
    else
    {
        ViewBag.Title = "Не выролнено!";
    }
}


@section Context{
    <div class="box-content">
        <div class="links-content">
            <fieldset>
            <br/>
            <h1>@ViewBag.Message</h1>
            <br/>
            <br/>
            <p>Для добавления товара перейдите на страницу <q>@Html.ActionLink("Создать", "Index", "Create")</q>.</p>
            <br/>
            <p>Для добавления товара перейдите на страницу <q>@Html.ActionLink("Найти", "Index", "Find")</q>.</p>
            <br/>
            <p>Для добавления товара перейдите на страницу <q>@Html.ActionLink("Журнал", "Index", "Log")</q>.</p>
            </fieldset>
        </div>
    </div>
}

@section LoginOrRegister{
    <div id="navigation">
        <ul><li>@Html.ActionLink("Выйти", "LogOut", "Account")</li></ul>
    </div>
}
@section EditOrBuy
{
    @Html.ActionLink("Редактировать", "EditMenu", "Edit")
}
